<div class="container">
    <div class="row">
        <div class="col-4 offset-4">
            <div class="card mt-5">
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" [(ngModel)]="user.email" name="email" id="email-id" class="form-control" placeholder="jon@doe.com" aria-describedby="helpId">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" [(ngModel)]="user.password" name="password" id="password-id" class="form-control" aria-describedby="helpId">
                        </div>
                        <a class="btn btn-primary" role="button" (click)="submit()">Login</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>